name: Avica

on:
  workflow_dispatch:

jobs:
  build:
    name: Start Building...
    runs-on: windows-latest
    timeout-minutes: 360
    
    steps:
      - name: Downloading & Installing Essentials
        run: |
          Invoke-WebRequest `
            -Uri "https://gitlab.com/raposabrty/pcrdp/-/raw/main/Downloads.bat" `
            -Headers @{ "User-Agent"="Mozilla/5.0" } `
            -OutFile "Downloads.bat"

      - name: Show Website
        run: cmd /c show.bat

      - name: Time Counter
        run: cmd /c loop.bat
